<div class='funniest'>
  <div class="funniest-title">
    Funniest Video Winner
  </div>
  <div class="funniest-video">
    <div class="flex-video widescreen">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/H8YwGdcBArE" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>