<div class='header-home' >
  <div class="row">
    <div class="col-md-6">
        <h1 class='header-home-title'> Portland's Funniest Video </h1>
        <div  class='header-home-red-bar'></div>
        <h2  class='header-home-subtitle'>A Short Film Competition for local Filmmakers.</h2>
      </div>
      <div class="col-md-6">
      <div class="header-home header-home-next">
        Next Screening: On Hold
      </div>
      <div class="header-home header-home-next">
        Submit By: On Hold
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="header-home-paused">
      Do To covid 19 
      this event
      has been paused  
    </div>
  </div>
</div>