<div class="row about home--top">
    <div class="row pad-small">
        <div class="col-md-6">
            <h1 class='about-title'> About Us </h1>
        </div>
    </div>
    <div class="row pad-top">
        <div class="col-md-12">
            <div class="">
                <div class="">
                    <img src="/assets/cc-theater.jpg" class="portrait" frameborder="0">
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="about-box">

                <strong> WHAT’S SO DAMN FUNNY, PORTLAND?!? </strong> Well, we’ll tell ya. Your videos, that’s
                what!<br><br>

                <strong> PORTLAND’S FUNNIEST VIDEOS </strong> ain’t just another LAUGH ‘TIL YOU WET YOUR PANTS kinda
                evening.
                No, it’s much more than that. It’s a comedic, short-film competition EVERY DAMN MONTH at Curious Comedy
                Theater. <br><br>

                Maybe your video will win the Monthly Audience Choice award. Or, you’ll win a gag award <strong> EVERY
                    DAMN MONTH </strong>.
                But one thing’s for sure. You’ll finally get your 15 seconds of fame. And, in March (every March) one of
                your
                videos could win the title of Portland’s Funniest Video. <br><br>

                <strong>SO HOW DOES IT WORK? —</strong>
                <br><br>
                First, Portland film nerds accept the challenge to make Portland laugh. Next, they submit their funniest
                videos —
                no more than 7 minutes long each. Then, their best creative work duke it out to WIN PRIZES at the event.
            </div>



        </div>
    </div>

</div>
</div>