<div class="row pad-small">
    <div class="col-md-6">
        <span class="portland"> About Us </span>
    </div>
</div>
<div class="row pad-top">
    <div class="col-md-6">
        <div class="well">
                <!--VIDEO PLAYER-->
            <div class="flex-video widescreen"> 
                <img src="https://www.dropbox.com/s/bnhsxhrvtuc3kmm/pfv_still.png?dl=1" width="450" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
             </div>
           
        </div>
    </div>
    <div class="col-md-6">
        
        <h2>Portland’s Funniest Video </h2>
        <p>is a monthly comedy short film competition that is inviting members of the Portland film community to compete to win the monthly audience choice award. 
        </p>
                 
        <h2>   Those that win </h2>
        <p> will have their film go on to compete in the 'Best Of' showcase and win Portland’s Funniest Video. 
        </p>
        <p>
          <strong>  Submissions are open September 2018</strong> and should done through this site via a vimeo link.
            Your contact info will only be used to keep you informed about this event or to ask you questions about your submissions. 
        </p>

    </div>
</div>

</div>
