<div class="row">
    
        <div class="col-md-10 col-md-offset-1">
            
        <div class="row text-center">
            <h2>Thanks For Signing Up!</h2>
        </div>
        <div class="row">
            <div class="well text-center">
            <p>You should have an activation link in your e-mail shortly.</p>
            </div>
        </div>
        
    </div>
    </div>
</div>
