<div class="row pad-small">
    <div class="col-md-6">
        <span class="portland"> How To Submit A Video </span>
    </div>
</div>
<div class="row pad-top">
    <div class="col-md-6">
        <div class="well">
                <!--VIDEO PLAYER-->
            <div class="flex-video widescreen"> 
                <img src="https://www.dropbox.com/s/bnhsxhrvtuc3kmm/pfv_still.png?dl=1" width="460" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
             </div>

        </div>
    </div>
    <div class="col-md-6">
        <span class="portland">Basic rules</span>
        <ol class="pad-top">
            <li>Submission is free</li>
            <li>Films should be comedies that are less than 7 minutes</li>
            <li>You may submit more than one movie at any time</li>
            <br>
            <li>Submissions will be through the website via a vimeo link</li>
            <li>Links with passwords are accepted</li>
            <li>Please enable downloads on your vimeo video link</li>
            <br>
            <li>Maximum resolution a submissions is 1920x1080</li>
            <li>Submission format should be MP4</li>
            <li>Submission for each month will close at 9:00pm on the sunday the week of the screening</li>
        </ol>
    </div>
</div>
