<div class="row help home--top">
    <div class="row pad-small">
        <div class="col-md-8">
            <h1 class="help-title"> How To Submit A Video </h1>
        </div>
    </div>
    <div class="row pad-top">
        <div class="col-md-12">
            <div class="">
                <!--VIDEO PLAYER-->
                <div class="">
                    <img src="/assets/submit-banner.jpg" class="portrait" frameborder="0">
                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div class="help-box">

                <span class="portland">Basic rules</span>

                <ol class="pad-top">

                    <li>
                        <p>Submission is free
                    </li>
                    <li>
                        <p>Films should be comedies that are less than 7 minutes
                    </li>
                    <li>
                        <p>You may submit more than one movie at any time
                    </li>
                    <hr>
                    <li>
                        <p>Submissions will be through the website via a vimeo link
                    </li>
                    <li>
                        <p>Links with passwords are accepted
                    </li>
                    <li>
                        <p>Please enable downloads on your vimeo video link
                    </li>
                    <hr>
                    <li>
                        <p>Maximum resolution a submissions is 1920x1080
                    </li>
                    <li>
                        <p>Submission format should be MP4
                    </li>
                    <li>
                        <p>Submission for each month will close at 9:00pm on the sunday the week of the screening
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>