<div class="row pad-small">
    <span class="portland"> How To Submit A Video </span>
</div>
<div class="row pad-top">
    <div class="col-md-6">
        <div class="well">
                <!--VIDEO PLAYER-->
            <div class="flex-video widescreen"> 
                <iframe src="https://player.vimeo.com/video/167566292" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
             </div>
            <p class="text-center"> <em>A VIDEO HERE DESCRIBING WHAT THIS EVENT IS</em></p>
        </div>
    </div>
    <div class="col-md-6">
        <span class="portland">Basic Bullet Points</span>
        <ol class="pad-top">
            <li>Video Must be less then 10 Minutes</li>
            <li>Submit with Vimeo link</li>
            <li>Vimeo Link can not be set to private</li>
            <li>Important Thing</li>
            <li>Important Thing</li>
        </ol>
    </div>
</div>
<div class="row pad-top">
    <span class="portland pad-small"> Detailed Overview </span>
    <div class="row pad-small pad-top">
        <div class="col-md-11 ">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>    
        </div>
    </div>
</div>
