<div class="col-md-12 col-md-offset-0 home--login-top">
    <spam class="home--login-top--label text-center"><i class="fas fa-video"></i> Submit a Film</spam>
</div>
<div class="col-md-12 col-md-offset-0 home--login">
    <%= link_to "Submit now!", '#', class: "btn btn-lg btn-primary" %>
 </div>