<h1>Portland's Funniest Video New Submission</h1>

<p>Submission Title: <%= @submission.title %>,</p>
<p>Submission Link: <%= @submission.link %>,</p>

<p>
Welcome to Portland's Funniest Video Submission site! Click on the link below to activate your account:
</p>

