<h2 class="text-center"><%= @users.count %> Users </h2>
<div class="row text-center">
  <%= will_paginate %>  
</div>


<div class="row">
  <ul class="user--table">
    <% @users.each do |user| %>
      <li><%= render user %></li>
          
    <% end %>
  </ul>
  
</div>
<div class="row text-center">
  <%= will_paginate %>  
</div>