<h1 class="text-center">All users</h1>
<div class="row text-center">
  <%= will_paginate %>  
</div>


<div class="row users">
  <% @users.each do |user| %>
  <div class="col-md-12"><%= render user %> </div>
  <% end %>
</div>
<div class="row text-center">
  <%= will_paginate %>  
</div>