// .u-center-text { text-align: center !important; }

// .u-margin-bottom-small { margin-bottom: 1.5rem !important; }
// .u-margin-bottom-medium {
//     margin-bottom: 4rem !important;

//     @include respond(tab-port) {
//         margin-bottom: 3rem !important;
//     }
// }

// .u-margin-bottom-big { 
//     margin-bottom: 8rem !important;

//     @include respond(tab-port) {
//         margin-bottom: 5rem !important;
//     }
// }

// .u-margin-top-big { margin-top: 8rem !important; }
// .u-margin-top-huge { margin-top: 10rem !important; }


.bottom-border {
    border-bottom: 2px solid grey;
  }
  
.alert{
  &--box {
    margin: auto;
    border: 0.5rem $color-red solid;
    background-color: $color-light-red;
    border-radius: 15px;
    width: 60%;
  }
  &--message {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bolder;
  }
}

.pad-left {
  padding-left: 2rem;
}

.well {
  background-color: $color-grey-dark-3;
}

.top-spacer-sm {
  margin-top: 1rem;
}

.top-spacer-md {
  margin-top: 3rem;
}

.top-spacer-lg {
  margin-top: 6rem;
}

.top-spacer-md {
  margin-top: 3rem;
}

.left-spacer-md{
  margin-left: 3rem;
}