
<div class="row admin">
    
    <div class="col-sm-2 col-sm-offset-3">
      <p> <%= link_to "Users", users_path, class: "btn btn-primary btn-block" %>  </p>
    </div>
    <div class="col-sm-2">
        <p> <%= link_to "Submissions", submissions_path, class: "btn btn-danger btn-block" %></p>
    </div>
    <div class="col-sm-2">
     <p> <%= link_to "Approved", static_pages_approved_index_path, class: "btn btn-success btn-block" %></p>
    </div>
       
    </div>
</div>
    