<div class="row text-center">
        <h2>Welcome Admin</h2>    
</div>
<div class="row">
    <div class="col-md-3">
        <div class="col-sm-12">
          <p> <%= link_to "Users", users_path, class: "btn btn-primary btn-block" %>  </p>
        </div>
        <div class="col-sm-12">
            <p> <%= link_to "Submissions", submissions_path, class: "btn btn-danger btn-block" %></p>
        </div>
        <div class="col-sm-12">
         <p> <%= link_to "Approved", static_pages_approved_index_path, class: "btn btn-success btn-block" %></p>
        </div>
       
    </div>
    <div class="col-md-9">
        <div class="well">
             Something useful here. 
        </div>

    </div>
</div>
    