<% if current_user.admin? %>
    
  <div class="row">
      <%= will_paginate @approval, class: "text-center" %>
  </div>
  
  <div class="row">
    <% @approval.each do |accept| %>
      <%= render accept %>
    <% end %>
  </div>
  
  <div class="row">
    <%= will_paginate @approval, class: "text-center" %>  
  </div>
  
  <% else %>
  <div class="row text-center">
      <h3>You do not have permission to view this page</h3>
  </div>

<% end %>

