<% if current_user.admin? %>
  <%= will_paginate @approval, class: "text-center" %>
  <ul class="users">
    <% @approval.each do |accept| %>
      <%= render accept %>
    <% end %>
  </ul>
  <%= will_paginate @approval, class: "text-center" %>
<% else %>
  <h3>You do not have permission to view this page</h3>
<% end %>