<div class="top-spacer-sm">

    <div class="player--place">
        <% if submission.winning_month %> <%= submission.winning_month %> <%else %> Status: <%= submission.status %>
        <%end%>
    </div>
    <div class="player--video">
        <div class="flex-video widescreen"><%= get_video_iframe(submission.link) %> </div>
    </div>
</div>