
<div class="well">
    
<div class="row">

        
    <div class="col-md-12 text-center">
        <p>You must be <%= link_to "Signed in", login_path %> to submit a film.</p>
 
    </div>

</div>
</div>
