<div class="row pad-small">
    <div class="col-md-6">

    <span class="portland">Portland's </br> Funniest Video </span> 
    <p >A Short film competition for Portland's local filmmakers.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-7">    
        <div class="well">
            <!--VIDEO PLAYER-->
           <div class="flex-video widescreen"> 
           
               <img src="https://www.dropbox.com/s/bnhsxhrvtuc3kmm/pfv_still.png?dl=1" width="530" height="300" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
           </div>
   
        </div>
    </div>
    <div class="col-md-5">
        <div class="well">
            <% if logged_in? %>
                <%= render 'shared/user_info' %>
            <% else %>
                <h2 class="text-center">Log in</h2>
                <%= render '/sessions/login_form' %>
            <% end %>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="well text-left">
          <p> <strong> Portland’s Funniest Video</strong> is a monthly comedy short film competition that is inviting members of the Portland film community to compete to win the monthly audience choice award.
          </p> 

        </div>
    </div>
</div>


   