
    <div class="col-xs-12  home--login">
        <%= link_to gravatar_for(current_user, size: 50), current_user %>
        <h3>
            <%= link_to current_user.name, current_user %>
        </h3>  
         <%= link_to "Submission A Film", new_submission_path, class: "video--award-button" %> 
    </div>





