<div class="row">
    <h3>
        <%= link_to gravatar_for(current_user, size: 50), current_user %>
        <%= link_to current_user.name, current_user %>
    </h3>    
</div>
<div class="row text-left">
    <div class="col-md-9">
        <p><%= link_to "Submit", new_submission_path, class: "btn btn-primary btn-block" %></p>
        <p> <%= link_to "Submissions", current_user, class: "btn btn-default btn-block" %> </p>        
    </div>

</div>


