<div class="row">
    <div class="col-xs-6">
        <%= link_to gravatar_for(current_user, size: 50), current_user %>
        <h3>
            <%= link_to current_user.name, current_user %>
        </h3>  
    </div>
    <div class="col-xs-6">
        
             <%= link_to "Submissions", current_user, class: "btn btn-default btn-block" %>       
               
    </div>
</div>



