<div class="row">
       
    <div class="col-md-8">
        <h2 class= "text-center">Approved : <%= @approval.count %></h2>
    </div>
    <div class="col-md-4">
        <h3 class= "text-center">Total Time : <%= @runtime %> Minutes</h3>
    </div>
</div>
<%= render '/shared/approved_list_out' %>