<h2>Submission</h2>
<% if logged_in? && current_user.admin? %>
   <%= render '/shared/submissions' %>
<% elsif logged_in? %>
   <%= render '/shared/submit_form' %>
<%else%>
  <%= render '/shared/please_log_in' %>
<%end%>