<div class="col-md-5 col-md-offset-4">
    <h2 class= "text-center">Submit A Your Film</h2>
</div>
<% if logged_in? %>
   <%= render '/shared/submit_form' %>
<%else%>
  <%= render '/shared/please_log_in' %>
<%end%>
