// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user{

    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }

    &--list-items{
        font-size: 14px;
        letter-spacing: 0.4px;
        word-spacing: -0.8px;
        font-weight: 700;
        text-decoration: none;
        text-transform: capitalize;
    }
    
    &--table{
        list-style-type: none;
        
        
        li:nth-child(even) {
          background-color: rgba(25, 37, 148, 0.62);
        }
    }
}
