
input, textarea, select, .uneditable-input {
    color: $color-black;
    background-color: $gray-medium-light;
    margin-bottom: 15px;
    width: 85%;
 
  }
  
  input {
    height: auto !important;
  }
  
  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $color-light-red;
    }
  }
  