.admin {
    &--best-of {
        background-color: rgba(74, 203, 242, 0.61);
    }
    
    &--reject {
        background-color: rgba(242, 74, 74, 0.61);
    }
    
    &--archive {
        background-color: rgba(158, 242, 74, 0.61);
    }
    
    &--review {
        background-color: rgba(242, 211, 74, 0.61);
    }
}