.home {
    &--top {
        margin-top: 60px;
    }
    
    &--top-header {
        color:white;
        background-color: black;
        padding: 15px 100px 15px 15px;
        
        font-size: 18px;
        letter-spacing: 1.6px;
        word-spacing: 1px;
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
        font-weight: 700;

    }
    
    &--top-dates {

        margin: 30px 5px 5px 0px;
    }
    
    &--top-screening {
        background-color: black;
        color: white;
        display: block;

        max-width: 350px;
        
        font-size: 14px;
        letter-spacing: 1.6px;
        word-spacing: 1px;
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
        margin: 15px 0px;

    }
    
    &--top-deadline {
        background-color: red;
        display: block;
        max-width: 350px;
        
        font-size: 14px;
        letter-spacing: 1.6px;
        word-spacing: 1px;
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
        margin: 15px 0;
    }
    
    &--top-tickets {
        background-color: blue;
        display: block;
        max-width: 350px;
        
        font-size: 14px;
        letter-spacing: 1.6px;
        word-spacing: 1px;
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
        margin: 15px 0;
    }
    
    &--login {
        background-color: white;
        color: black;
    }
    
    &--login-top {
        background-color:black;
        color: white;
        padding: 10px 0 5px 15px;
        
        
        
        &--label {

            font-size: 14px;
            letter-spacing: 1.6px;
            word-spacing: 1px;
            font-style: normal;
            font-variant: normal;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
    
}

.video {
    &--label {
        background-color: red;
        color: white;
        
        max-width: 96%;
        
        font-size: 14px;
        letter-spacing: 1.6px;
        word-spacing: 1px;
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px 0px 5px 10px;
        margin: -30px 14px 0px 15px;
    }
    
    &--first-place {
        background-color: blue;
        color: white;
        
        // max-width: 350px;
        
        font-size: 14px;
        letter-spacing: 1.6px;
        word-spacing: 1px;
        font-style: normal;
        font-variant: normal;
        text-transform: uppercase;
        font-weight: 600;
        padding: 10px;
        margin: 12px 14px 0px 14px
        
    }
    
    &--info {
        background-color: white;
        color: black;
        margin-top: 10px;
        border: solid grey 1px;
        padding: 5px;
    }
    
}