// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.submission {
    &--bg-highlight {
        margin: auto;

        background-color: grey;
        border-radius: 0 0 5px 5px;
    }
}